.container__big-card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  height: 500px;
  margin: 0 20px 0 20px;
}

.big-card__photo > img {
  width: 100%;
  min-width: 400px;
}

.big-card__title > h1 {
  font-size: 20px;
  margin-top: 10px;
  color: #fff;
}

.big-card__description {
  margin-top: 10px;
  color: #808080;
}

.small-card__text > span {
  font-weight: 600;
  color: lightgrey;
  margin-top: 5px;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
