<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://th.bing.com/th/id/OIP.FjLkalx51D8xJcpixUGJywHaE8?w=270&h=180&c=7&r=0&o=5&dpr=1.7&pid=1.7"
      alt="img placeholder"
      height="200px"
      width="400px"
    />
  </div>
  <div class="big-card__title">
    <h1>Saiu a nova versão do Angular</h1>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure explicabo fuga, dolorum aliquid est velit? Sint provident eligendi impedit. Ipsam, mollitia impedit! Id reiciendis magni impedit velit, recusandae expedita. Velit?</p>
  </div>
</div>
