<div class="container__big-card">
  <div class="big-card__photo">
    <a href="#">
      <img
        src="{{ photoCover }}"
        alt="Imagem notícia"
        height="300px"
        width="400px"
      />
    </a>
  </div>
  <div class="small-card__text">
    <span>{{ datePost }}</span>
  </div>
  <a href="#">
    <div class="big-card__title">
      <h1>{{ cardTitle }}</h1>
    </div>
    <div class="big-card__description">
      <p>
        {{ cardDescription }}
      </p>
    </div>
  </a>
</div>
