<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://th.bing.com/th/id/OIP.FjLkalx51D8xJcpixUGJywHaE8?w=270&h=180&c=7&r=0&o=5&dpr=1.7&pid=1.7"
        alt="img placeholder"
      />
    </div>
    <a href="#">
      <div class="small-card__title">
        <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h1>
      </div>
    </a>
  </div>

  <div class="container__small-card-separator">
    <hr />
  </div>
</div>
