.container__small-card {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-bottom: 15px;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card__photo > a > img {
  width: 200px;
  min-width: 200px;
  margin-right: 10px;
  min-height: 120px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

hr {
  opacity: 0.5;
}

.container__small-card-separator {
  margin-top: 10px;
}

.small-card__title {
  margin-top: 5px;
  text-align: center;
}

.small-card__text > span {
  font-weight: 600;
  color: lightgrey;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-right: 30px;
}

@media (max-width: 1150px) {
  .container__small-card-content {
    flex-direction: column;
    align-items: center;
  }

  .container__small-card {
    width: 400px;
  }

  .small-card__photo > a > img {
    margin-bottom: 10px;
  }

  .small-card__title {
    font-size: 50%;
    width: 300px;
  }
}
