.container__articles {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-top: 30px;
}

.news {
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px) {
  .news {
    flex-direction: column;
  }

  app-big-card {
    display: flex;
    justify-content: center;
  }
}
